/* Adjust the size of the logo */
img[src*="cover.png"] {
    width: 70px;  /* Adjust the width */
    height: 70px;  /* Keep the aspect ratio */
}

img[src*="Tux.svg.png"] {
    width: 100px;  /* Adjust the width */
    height: 100px;  /* Keep the aspect ratio */
    float: inline-end;
}