/* Adjust the size of the logo */
img[src*="cover.png"] {
    width: 70px;  /* Adjust the width */
    height: 70px;  /* Keep the aspect ratio */
}

img[src*="Tux.svg.png"] {
    width: 120px;  /* Adjust the width */
    height: 120px;  /* Keep the aspect ratio */
    display: block; /* Make the image a block element */
    margin: 0 auto; /* Horizontally center the image */
    text-align: center; /* Ensure text is centered around the image */
    /* float: inline-end; */
}